@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Staatliches&display=swap');

body{
    background-color: black;
    color:white;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.yellow-block{
    background: yellow;
    height: 20px;
}

h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
}

h2, h3{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}

.points-section{
    background: white;
    color: black;
    width: 50%;
}

img{
    margin: 5px;
}

.footer-text{
   padding-top: 25px;
   text-align: center;
}



